.landing {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #00695c;

	&__details {
		padding-left: 3em;
		display: flex;
		flex-direction: column;
		gap: 5em;
		color: white;
		width: 50%;

		& a {
			text-decoration: none;
			color: white;
		}

		& a:visited,
		a:active {
			color: white;
		}
	}

	&__logo {
		font-size: 30px;
		display: flex;
		align-items: center;
		gap: 0.5em;
		color: white;
	}

	&__logo-image {
		height: 40px;
		width: 40px;
	}

	&__welcome-details {
		width: 70%;
		font-size: 18px;
		line-height: 1.5;
	}

	@media (max-width: 600px) {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1em;

		&__welcome-details {
			display: none;
		}

		&__details {
			padding-left: 0;
		}

		&__logo {
			justify-content: center;
		}
	}
}

.mat-card {
	margin-right: 5vw;
	width: 35%;
}

@media (max-width: 600px) {
	.mat-card {
		margin: 0;
		width: 75%;
	}
}
