.chat-messages {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;

	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: column-reverse;
	}
}

cdk-virtual-scroll-viewport {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
