.chat-dashboard-content {
	height: 89.75vh;
	display: flex;

	&__contact-list {
		width: 25%;
	}

	&__chat-window {
		width: 75%;
		padding: 0.5em;
	}

	@media screen and (max-width: 805px) {
		&__contact-list {
			display: none;
		}

		&__chat-window {
			width: 100%;
		}
	}
}
