<div class="contact-list" [style.height]="listHeight">
	<ng-container
		*ngIf="!(isLoadProgressSource | ngrxPush); else loadContactsTemplate"
	>
		<ng-container *ngFor="let contact of contacts; let i = index">
			<div
				class="contact-list__item"
				[ngClass]="getClass(selectedSender, contact.email)"
			>
				<contact [contact]="contact"></contact>
			</div>
			<hr class="contact-separator" *ngIf="i < contacts.length - 1" />
		</ng-container>
	</ng-container>
</div>

<ng-template #loadContactsTemplate>
	<div class="contact-list__loading-contacts">
		<img src="../../../../assets/loading.gif" />
	</div>
</ng-template>
