.nav-bar {
	display: flex;
	justify-content: space-between;
	height: 100%;

	&__profile-button {
		margin-right: 1em;
	}

	&__profile-picture {
		width: 2.5em;
		height: 2.5em;
		border-radius: 50%;
	}

	&__contact-search {
		width: 50%;
	}

	&__logo-and-side-drawer-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		padding-left: 0.5em;

		&-image {
			height: 40px;
			width: 40px;
		}
	}

	&__side-drawer-toggle {
		cursor: pointer;
	}

	@media (max-width: 804px) {
		&__contact-search {
			display: none;
		}
	}

	@media (min-width: 805px) {
		&__side-drawer-toggle {
			display: none;
		}
	}
}
