<div class="nav-search-input">
	<div class="nav-search-input__search-input-block">
		<input
			class="nav-search-input__search-input"
			type="text"
			matInput
			[formControl]="searchControl"
			[matAutocomplete]="auto"
			placeholder="Search Contacts"
		/>
		<mat-icon class="nav-search-input__search-icon">search</mat-icon>
	</div>
	<mat-autocomplete
		#auto="matAutocomplete"
		[displayWith]="displayFn"
		(optionSelected)="openContactChat($event)"
	>
		<mat-option
			*ngFor="let contact of filteredContactsSource | async"
			[value]="contact"
		>
			<div class="nav-search-input__option">
				<img
					class="nav-search-input__option-profile-image"
					[src]="contact.profileImagePath"
				/>
				{{ getSearchContactText(contact) }}
			</div>
		</mat-option>
	</mat-autocomplete>
</div>
