<div class="chat-message">
	<div
		*ngIf="chatType === 'outgoing'; else incoming"
		class="chat-message__outgoing"
	>
		<img
			class="chat-message__profile-image"
			[src]="(profileImagePath | ngrxPush) || defaultProfileImagePath"
		/>
		<div class="message">
			<div class="message-sender">
				{{ loggedInUserNameSource | ngrxPush }}
			</div>
			<div class="message-text">{{ chat.message }}</div>
			<div class="message-time">{{ chat.date | humanize }}</div>
		</div>
	</div>
</div>

<ng-template #incoming>
	<div class="chat-message__incoming">
		<img
			class="chat-message__profile-image"
			[src]="profileImagePath | ngrxPush"
		/>
		<div class="message">
			<div class="message-sender">
				{{ selectedSenderNameSource | ngrxPush }}
			</div>
			<div class="message-text">{{ chat.message }}</div>
			<div class="message-time">{{ chat.date | humanize }}</div>
		</div>
	</div>
</ng-template>
