.mat-form-field {
	width: 100%;
}

.chat-input {
	display: flex;
	justify-content: center;
	align-items: center;

	&__textarea {
		resize: none;
	}

	&__message-box {
		width: 90%;
	}

	&__send-button {
		width: 10%;
		display: flex;
		justify-content: center;
	}

	@media (max-width: 509px) {
		&__message-box {
			width: 80%;
		}

		&__send-button {
			width: 20%;
		}
	}

	&__block-message {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__emoji-toggle-button {
		cursor: pointer;
	}
}
