<div
	class="chat-input"
	*ngIf="!(currentBlockConversationIdSource | ngrxPush); else blockTemplate"
>
	<div class="chat-input__message-box">
		<mat-form-field appearance="outline">
			<textarea
				class="chat-input__textarea"
				rows="1"
				matInput
				[(ngModel)]="message"
				placeholder="Enter message"
				[disabled]="isSendMessageProgress | ngrxPush"
			></textarea>

			<mat-icon
				matSuffix
				class="chat-input__emoji-toggle-button"
				(click)="toggled = !toggled"
				[(emojiPickerIf)]="toggled"
				[emojiPickerDirection]="'top'"
				(emojiPickerSelect)="handleSelection($event)"
				>sentiment_very_satisfied</mat-icon
			>
		</mat-form-field>
	</div>
	<div class="chat-input__send-button">
		<button
			mat-fab
			color="primary"
			(click)="sendMessage($event)"
			[disabled]="isSendMessageProgress | ngrxPush"
		>
			<mat-icon>send</mat-icon>
		</button>
	</div>
</div>
<ng-template #blockTemplate>
	<div class="chat-input__block-message">
		The User has blocked you. You can't send message
	</div>
</ng-template>
