// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$converse-primary: mat-palette($mat-teal, 800, 700, 900);
$converse-accent: mat-palette($mat-teal, 800, 700, 900);

// The warn palette is optional (defaults to red).
$converse-warn: mat-palette($mat-deep-orange, 800, 700, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$converse-theme: mat-light-theme(
	(
		color: (
			primary: $converse-primary,
			accent: $converse-accent,
			warn: $converse-warn
		)
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($converse-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	overflow: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #adbdaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #00695c;
	border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #004d40;
}

emoji-picker {
	bottom: 192px;
	right: 463px;
}

.mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

.mat-drawer-inner-container {
	overflow: hidden !important;
}
